{% extends 'base.html'%}

{% block content%}

<h1>hello {{user.first_name}}!</h1>

    <p>
        Name: {{user.first_name}} {{user.last_name}}
    </p>
    <p>
        Username: {{user.username}}
    </p>
    <p>
        email:{{user.email}}
    </p>

    <div>
        <h3>Feedbacks you left</h3>
        <ul>
           
        {% for f in user.feedbacks %}
         <li>
        {{f.title}} :
        {{f.content}}             
         </li>

        {% endfor %}
        </ul>
        <a href="/users/{{user.username}}/feedback/add" <button class="btn btn-primary">Add Feedback</button></a>
    </div>


{% endblock%}